---
import Button from "./Button.astro";
---

<Button variant={"primary"} className={"min-w-max text-white"}>
  <a href="mailto:info@joseasaez.com?subject=Mas%20detalles%20sobre%20curso%20de%20tiro%20con%20arco" class="flex relative z-[5] text-center">Quiero más información</a>
</Button>
