---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h1
  class=`text-heading-1 pt-10 lg:pt-15 font-semibold text-2xl sm:text-3xl md:text-4xl ${className}`
>
  <slot />
</h1>
